*{
  background-color:   #F8F9FD;
 font-family:Figtree;
}
.flex{
  display: flex;
  align-items:center;
  justify-content: center;
}
.flex-c{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}